{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  {% csrf_token %}

  <section class="card card-body bg-transparent">
    <div class="card card-body bg-transparent">
      <h1 class="text-center text-light display-3 mb-5 mt-5">
        Panel de ejecutivo
      </h1>
      <h4 class="text-center text-light mb-5">
        ¡Bienvenid@ {{ user.first_name }}!
      </h4>
    </div>

    <!--ORDENANDO TODO DE NUEVO -->
    <div class="row">
      <div class="col-12">
        <div class="row text-center">
          <p>
            <a
              class="btn btn-lg btn-outline-light mt-5"
              href="/solicitudes/create/"
            >
              <i class="bi bi-envelope-plus display-6"></i>
            </a>

            <a class="btn btn-lg btn-outline-light mt-5" href="">
              <i class="bi bi-gear display-6"></i>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- TODAS LAS SOLICITUDES -->
        <div class="row">
          <div class="col">
            <div class="card carddark text-white mb-5 mt-5">
              <h2 class="azul mb-5 mt-5 text-center">Solicitudes asignadas</h2>
              <table
                id="datatable_solicitudes"
                class="table table-borderless table-hover table-responsive"
              >
                <thead>
                  <tr>
                    <th scope="col" class="centered">#</th>
                    <th scope="col" class="centered">Comentario</th>
                    <th scope="col" class="centered">Usuario </th>
                    <th scope="col" class="centered">Requerimiento </th>
    v
                  </tr>
                </thead>
                <tbody id="tableBody_solicitudes"></tbody>
              </table>
            </div>

        <!-- FIN SOLICITUDES -->
      </div>
    </div>

    <!--FIN ORDENANDO TODO DE NUEVO -->
  </section>
</main>
{% endblock %} {% block scripts %}
<script src="{% static 'js/index_ejecutiva.js' %}"></script>
{% endblock %}
