{% extends 'base.html' %}
{% block content %}
<main >
    {% csrf_token %}

    <section class="card card-body bg-transparent">

        <div class="card card-body bg-transparent">
            <h1 class="text-center text-light display-3 mb-5 mt-5">
                Panel de ejecutivo
            </h1>
            <h4 class="text-center text-light mb-5"> ¡Bienvenid@ {{ user.first_name }}!</h4>
        </div>

        <!--ORDENANDO TODO DE NUEVO -->
            <div class="row">


                <div class="col-12">

                    <div class="row text-center ">

                        <p>
                            <a class="btn btn-lg btn-outline-light mt-5" href="/solicitudes/create/">
                                      <i class="bi bi-envelope-plus display-6"></i>
                            </a>

                            <a class="btn btn-lg btn-outline-light mt-5" href="">
                                      <i class="bi bi-gear display-6"></i>
                            </a>
                        </p>

                    </div>

                </div>


            </div>

         <div class="row">


            <div class="col">

  <!-- TODAS LAS SOLICITUDES -->

                <div class="card card-body  mb-3 mt-5">

                    <h2 class="azul mb-5 mt-5 text-center">

                        Solicitudes asignadas

                    </h2>

                    <div class="table-wrapper-scroll-y my-custom-scrollbar ">
                        <table class="table table-borderless table-hover sm table-responsive align-middle ">
                            <thead>
                                <tr>

                                    <th scope="col" class="azul">Código</th>
                                    <th scope="col" class="azul">Requerimiento</th>
                                    <th scope="col" class="azul">Descripción</th>
                                    <th scope="col" class="azul">Usuario</th>

                                </tr>
                            </thead>

                            {% for solicitud in solicitudes %}

                            <tbody >
                                <tr>
                                    <th scope="row" class="azul">{{solicitud.requerimiento.code}}</th>

                                    <td scope="row" class="text-dark">{{solicitud.requerimiento}}</td>
                                    <td class="text-dark">{{solicitud.description}}</td>
                                    <td class="text-dark">{{solicitud.user}}</td>


                                </tr>

                            </tbody>

                            {% endfor %}

                        </table>
                    </div>

                </div>

                <!-- FIN SOLICITUDES -->
            </div>



             <div class="col">

                <!-- USUARIOS -->

                <div class="card card-body mb-3 mt-5">

                    <h2 class=" mb-5 mt-5 azul text-center">

                        Clientes

                    </h2>

                    <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-borderless table-hover mb-0 table-responsive">

                            <thead>
                                <tr>
                                    <th scope="col" class="azul">Nombre completo</th>
                                    <th scope="col" class="azul">Correo electrónico</th>
                                    <th scope="col" class="azul">Contacto</th>


                                </tr>
                            </thead>

                            {% for user in users %}

                            <tbody>
                                <tr>
                                    <th scope="row" class="azul">{{user.first_name}} {{user.last_name}}</th>
                                    <td class="text-dark">{{user.email}}</td>
                                    <td class="text-dark">{{user.mobile}}</td>

                                </tr>
                            </tbody>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                 <!-- FIN USUARIOS -->
            </div>

        </div>


        <!--FIN ORDENANDO TODO DE NUEVO -->



    </section>



</main>
{% endblock %}